*  {
    font-family: 'Press Start 2P', cursive;
}

.tile {
    height: 80px;
    width: 80px;
    background: url('../bigtiles.png') -480px -240px;
}

.row {
    display: flex;
    flex-direction: row;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid .row div:hover {
    filter:brightness(150%);
}

.piece {
    width: 80px; 
    height: 80px; 
    background-color: greenyellow; 
    /* margin-right: 25px; */
}

#inventory {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #3b2c4a;
    justify-content: center;
    align-items: center;
    padding:20px;
    width: 10vw;
    height:70vh;
    top: 15vh;
    margin-left: 20px;
}

.buttoncontainer {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #3b2c4a;
    justify-content: center;
    align-items: center;
    padding:20px;
    width: 10vw;
    height:70vh;
    top: 15vh;
    left: calc(90vw - 90px);
    margin-left: 20px;
}

.buttoncontainer button {
    margin: 40px;
    border: none;
}

.buttoncontainer button:hover {
    cursor: pointer;
    filter:brightness(150%);
}

.buttoncontainer button:active {
    cursor: pointer;
    filter:brightness(50%);
}

#inventory div {
    margin: 40px;
}

#inventory :not(.pieceSelected):hover {
    cursor: grab;
    filter:brightness(150%);
}

#startButton {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') 0 -160px;
}

#reset {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -80px -160px;
}

.wall {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -640px -240px;
}

.brick {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -80px 0;
}

.startHorizontal {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') 0 0;
}

.startVertical {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') 0 -80px;
}

.quadShoot {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -160px 0;
}

.curveLeftUp {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -480px -80px;
}

.curveRightUp {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -400px -80px;
}

.curveRightDown {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -400px 0;
}

.curveLeftDown {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -480px 0;
}

.tSplitUpDownLeft {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -80px -80px;
}

.tSplitUpDownRight {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -240px -80px;
}

.tSplitLeftRightUp {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -160px -80px;
}

.tSplitLeftRightDown {
    width: 80px;
    height: 80px;
    background: url('../bigtiles.png') -320px -80px;
}

.explosion {
    width: 80px;
    height: 80px;
    background: url('../explosion.gif') 0 0;
}

body {
    background-color: #17111a;
}

#level {
    color: white;
    text-align: center;
    margin: 50px;
}

.pieceSelected {
    filter:brightness(50%);
}

.howtoplay {
    margin-top: 10vh;
    text-align: center;
    font-size: 16px;
    font-size: 1.5vmin;
    color: white;
    line-height: 35px;
}

.center {
    width: 100%;
    height: calc(100vh - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p.win {
    font-size: 135px;
    color: #8dc156
}