footer
{
    height: 10vh;
    background-color: #69add5;
}

footer p
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}