@charset "utf-8";
@import "base.css";

/* - - - - - - - - - - - - - - - - - - */
/* - - - - - - - Heading - - - - - - - */
/* - - - - - - - - - - - - - - - - - - */

header
{
    background-color: #229dfa;
    height: 75px;
}

.row
{
    display: flex;
}

.col + .col
{
    margin-left: 25px;
}

.three
{
    width: calc(33% - 8.33px);
}

.right
{
    text-align: right;
}

header h1
{
    
    line-height: 75px;
    color: #fff;
}

header div .searchbar
{
    margin: 15px 0px;
    line-height: 45px;
    border-radius: 10px;
    background-color: #0574c9;
    color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-between;
}

header div .searchbar input
{
    background: transparent;
    margin-left: 25px;
    color: rgb(220, 220, 220);
}

header div .searchbar input::placeholder
{
    color: rgb(220, 220, 220);
}

header div .searchbar i
{
    height: auto;
    margin-right: 25px;
}

.fa-center
{
    line-height: inherit!important;
    vertical-align: middle;
}

header ul
{
    list-style: none;
    
}

header ul li
{
    display: inline;
}

header ul li a
{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 75px;
}

/* - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - Main - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - -*/

.flexrow 
{
    display: flex;
    justify-content: space-around;
}

.flexrow + .flexrow
{
    margin-top: 27px;
}

.box
{
    height: 75px;
    line-height: 75px;
    width: calc(33% - 20px);
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(84, 84, 84, 0.2);
}

.box p
{
    margin-left: 10px;
    font-size: 20px;
    display: inline;
}

.box p .text
{
    font-size: 15px;
}

.box + .box
{
    margin-left: 27px;
}

.box i
{
    margin-left: 20px;
    font-size: 40px;
}

.vertalign
{
    display: flex;
    height: calc(100vh - 75px);
    align-items: center;
}

.user
{
    color: rgb(82, 168, 211);
}

.article
{
    color: rgb(82, 211, 168);
}

.message
{
    color: rgb(211, 82, 82);
}

.mod
{
    color: rgb(211, 82, 168);
}

.visit
{
    color: rgb(82, 211, 211);
}

.task
{
    color: rgb(211, 168, 168);
}